.chapter-nav,
.section-nav,
.create-nav-button {
}
.chapter-nav {
    color: #2f3337;
    font-weight: bold;
    padding: 4px 14px;
}
.chapter-nav:hover,
.section-nav:hover {
    cursor: pointer;
    background-color: #eff0f1;
}

.create-nav-button {
}
.create-nav-button:hover {
    cursor: pointer;
    background-color: white;
}
.add-section {
}
.add-section:hover {
    cursor: pointer;
    background-color: #eff0f1;
}
