html,
body,
#root,
.app-container {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 15px;
    height: 100% !important;
}
.body-home {
    display: flex;
    flex-direction: row;
    height: 100%;
}
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 32px;
}
.nav-main-left,
.nav-main-center,
.nav-main-right {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.navbar-left {
    min-width: 15%;
    background-color: #f1f1f1;
}
.body-container {
    width: 100%;
}
.nav-section {
    height: 100%;
    border-left: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
}
.nav-section:hover {
    cursor: pointer;
}
.button-nav {
    border: none;
    background-color: white;
    border-left: 1px solid #ccc;
}
input,
textarea {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px;
    min-width: 550px;
    max-width: 550px;
}
.new-doc-submit-btn {
    min-width: 100px;
}
