html,
body,
#root,
.app-container {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica,
        sans-serif;
    font-size: 15px;
    height: 100% !important;
}
.body-home {
    display: flex;
    flex-direction: row;
    height: 100%;
}
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 32px;
}
.nav-main-left,
.nav-main-center,
.nav-main-right {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.navbar-left {
    min-width: 20%;
    border-right: 1px solid #ccc;
}
.body-container {
    width: 100%;
}
.nav-section {
    border-left: 1px solid #ccc;
    text-align: center;
    padding: 8px 20px; /* only with padding they are aligning in center */
    overflow: hidden;
}
.nav-section a {
}
.nav-section:hover {
    cursor: pointer;
}
.button-nav {
    border: none;
    background-color: white;
    border-left: 1px solid #ccc;
}
input,
select,
textarea {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px;
    /* min-width: 550px;
    max-width: 550px; */
    background-color: white;
}
.new-doc-submit-btn {
    min-width: 100px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.c-left {
    flex: 1;
}
.c-right {
    flex: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.link {
    color: #0077cc;
}
.nav-link {
    color: #3c4146;
}
.dropdown:hover,
.dropbtn:hover {
    cursor: pointer;
}
.col-8 {
    display: inline-block;
    width: 71%;
    padding: 10px 2%;
    vertical-align: text-top;
}
.col-4 {
    display: inline-block;
    width: 25%;
    vertical-align: text-top;
    padding: 10px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0px;
    padding: 0;
}
