/* .chapter-nav,
.section-nav,
.create-nav-button {
}
.chapter-nav:hover,
.section-nav:hover {
    cursor: pointer;
    background-color: #eff0f1;
}

.create-nav-button {
    padding: 4px 14px;
    font-size: 12px;
}
.create-nav-button:hover {
    cursor: pointer;
    background-color: white;
}
.add-section {
}
.add-section:hover {
    cursor: pointer;
    background-color: #eff0f1;
}
.section-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
